<!-- sidebar.html -->
<header class="sidebar-header" role="banner">
	<img src="{{site.logo}}"/>
    </h3>
</header>

<div id="contact-list" class="text-center">
	<ul class="list-unstyled list-inline">
		<li>
			<a class="btn btn-default btn-sm" href="https://github.com/{{ site.github }}">
				<i class="fa fa-github fa-lg"></i>
			</a>
		</li>
		<li>
			<a class="btn btn-default btn-sm" href="{{ site.download }}">
				<i class="fa fa-download fa-lg"></i>
			</a>
		</li>
	</ul>
</div>
<!-- sidebar.html end -->
